@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&family=Freeman&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081629;
    --second-bg-color: #112e42;
    --text-color: #f3f3f3;
    --main-color:#4cebf9;
    --btn-color: #f6f6f6;
    --nav-color: #fc92ce;
    --margin-navbar-color: #2368fc;
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color); color: var(--text-color);
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 1s;
}

.header.sticky{
    background: rgb(0 124 129);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar{
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar .active{
    color: var(--nav-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
    
.home {
    display: flex;
    align-items: center;
    padding: 0 10%;
    /* background: url('assets\devpic3.jpg') no-repeat;      */
                                                         /* home section profile image */ 
    background-size: cover;
    background-position: center;
    
}
    
.home-content {
    max-width: 80rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 59rem;
}

/* .home-content .text-word {
    animation: textAnimation 2s ease-in-out infinite;
    opacity: 0;
    transform: translateY(100%);
}
  
.home-content .text-word:nth-child(2) {
    animation-delay: 2s;
  }
  
  .home-content  .text-word:nth-child(3) {
    animation-delay: 4s;
  } */

/* #text-color{
    color: #ffffff;
} */

.home-content .text-style {
    font-size: 3.8rem;
    color: white;
}

.home-content .text-animate {
    font-family: "Freeman", sans-serif;
    font-size: 3.8rem;
    font-weight: 900;
    color: transparent;
    letter-spacing: 0.2rem;
    /* -webkit-text-stroke: .9px var(--main-color); */
    background-image: linear-gradient(var(--main-color), var(--main-color));
    /* background-repeat: no-repeat; */
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 1s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
    
.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: solid var(--main-color);
    border-radius: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}


.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* background: rgb(224, 225, 226); */
    background: var(--btn-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    animation: bounce 1.5s infinite;
}
    
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: var(--main-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--btn-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imghover {
    /* position: realtive; */
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: transparent;
    transition: .3s;
}

.home-imghover img{
    width: 35vw;
    height: 80vh;
}

.home-imghover:hover {
    background: var(--bg-color);
    opacity: .8;
}

.home__blob-img {
    animation: bounce 2.5s infinite;
}


/* about section part */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.about__container{
        row-gap: 2rem;
        text-align: initial;
        display: flex;
}

.about__container .about-content{
    text-align: center;
}


/* .about__container .about-content .text-animate {
    position: relative;
    width: 35rem;
}

.about__container .about-content .text-animate {
    font-family: "Freeman", sans-serif;
    font-size: 3.8rem;
    font-weight: 900;
    color: transparent;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-clip: padding-box;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 1s;
}

.about__container .about-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
} */


.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}


.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 95%;
    border-radius: 50%;
    border: .5rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    border-left: .2rem solid var(--second-bg-color);
    border-right: .2rem solid var(--second-bg-color);
    animation: aboutSpinner 8s linear infinite;
    animation-direction: alternate;
}
.about-img .circle-spin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 108%;
    height: 108%;
    border-radius: 50%;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    animation: aboutSpinner2 8s linear infinite;
    animation-direction: alternate-reverse;
}


.about__container {
    display: flex;
    align-items: center;
  }
.about-content {
    flex: 1;
    height: 100px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
    
.about-content p {
    padding-left: 8rem;
    text-align: initial;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}



/* buttons styling */
.btn-box.btns {
    display: inline-block;
    width: 15rem;
}
    
.btn-box.btns a::before {
    background: var(--second-bg-color);
}



/* Education section styling */

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education.education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row.education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}
    
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.year{
    font-size: 1.5rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 30%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    /* border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem; */
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.8rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content year i {
    padding-right: .5rem;
}
    
.education-content .content h3 {
    font-size: 2rem;
}
    
.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}


/* Skills section styling */

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills .skills_heading{
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 5rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
    
.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}
    
.skills-content .progress {
    padding: 1rem 0;
}
    
.skills-content .progress h3 {
    padding-left: 2px;
    font-size: 1.7rem;
    display: flex;
    /* justify-content: space-between; */
    word-spacing: 2px;
}


.skills-content .progress h3 span {
    /* padding-left: 40%; */
    color: var(--text-color);
}
    
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 3rem;
    background: var(--main-color);
}

/* skills  */
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span { 
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span { 
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span { 
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span { 
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span { 
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span { 
    width: 75%;
}

/* proffessional skills */
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span { 
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span { 
    width: 75%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span { 
    width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span { 
    width: 75%;
}


/* Project section styling */
.projects {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 30px;
    align-content: center;
    justify-items: stretch;
    width: 100%;
    padding-bottom: 3rem;
    animation: bounce 2s infinite;
  }
  
  .project {
    background-color: var(--second-bg-color);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
    /* width: 300px; */
    /* overflow: hidden; Hide the description initially */
  }
  
  .project img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
    
  .project h3 {
    font-weight: bold;
    margin-top: 10px;
    color: rgb(247, 222, 222);
  }

  .project img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  }

  /* .project:hover img {
       transform: scale(1.1); 
  } */
  
  .project p {
    font-size: 16px;
    color: #ffffff;
  }
  
  .description {
    position: relative;
    width: 100%;
    height: 50%;
    color: #20a2ff;
    background-color: transparent;
    opacity: 0;
    transition: opacity 1s ease-out;
}
.project:hover img {
    opacity: 0.6;    
}

.project:hover .description {
    opacity: 1; /*Show the description on hover  */
}

.hidden {
display: none;
}

.show-more {
display: block;
}

.show-less {
display: none;
}
.work__img img {
transition: 2s;
}
.work__img img:hover {
transform: scale(1.1);
}

/* Toggle the show-more and show-less buttons on click */
.show-more.clicked {
display: none;
}

.show-less.clicked {
display: block;
}

.btn-box .btns .shows {
    display: flex;
    justify-content: center;  
}

.projects-grid.expanded {
    max-height: 500px; /* Adjust this value to fit your needs */
  }
  
.toggle-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}



/* Acheivement section */
.acheives {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .acheive-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 30px;
    align-content: center;
    justify-items: stretch;
    width: 100%;
    padding-bottom: 3rem;
    /* animation: bounce 2s infinite; */
  }
  
  .acheive {
    background-color: var(--second-bg-color);
    padding: 8px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
    /* width: 300px; */
    /* overflow: hidden; Hide the description initially */
  }
  
  .acheive img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
    
  .acheive h3 {
    font-weight: bold;
    margin-top: 10px;
    color: rgb(247, 222, 222);
  }

  .acheive img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  }

/* .acheive:hover img {
    opacity: 0.6;    
} */

/* .acheive:hover .description {
    opacity: 1; 
} */

.hidden {
display: none;
}

.show-more {
display: block;
}

.show-less {
display: none;
}
.work__img img {
transition: 1s;
}
.work__img img:hover {
transform: scale(1.1);
}

/* Toggle the show-more and show-less buttons on click */
.show-more.clicked {
display: none;
}

.show-less.clicked {
display: block;
}

.btn-box .btns .shows {
    display: flex;
    justify-content: center;  
}

.acheives-grid.expanded {
    max-height: 500px; /* Adjust this value to fit your needs */
  }
  
.toggle-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}



/* Research Paper section */
.researches {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .research-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 30px;
    align-content: center;
    justify-items: stretch;
    width: 100%;
    padding-bottom: 3rem;
    animation: bounce 2s infinite;
  }
  
  .research {
    background-color: var(--second-bg-color);
    padding: 8px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
    /* width: 300px; */
    /* overflow: hidden; Hide the description initially */
  }
  
  .research img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
    
  .research h3 {
    font-weight: bold;
    margin-top: 10px;
    color: rgb(247, 222, 222);
  }

  .research img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  }

.hidden {
display: none;
}

.show-more {
display: block;
}

.show-less {
display: none;
}
.work__img img {
transition: 1s;
}
.work__img img:hover {
transform: scale(1.1);
}

/* Toggle the show-more and show-less buttons on click */
.show-more.clicked {
display: none;
}

.show-less.clicked {
display: block;
}

.btn-box .btns .shows {
    display: flex;
    justify-content: center;  
}

.researches-grid.expanded {
    max-height: 500px; /* Adjust this value to fit your needs */
  }
  
.toggle-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}




  /* contact section styling */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.column {
    flex-basis: 45%;
    margin: 21px;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.contact-info{
    font-size: 1.8rem;
    text-decoration: none;
    margin-top: 0;
    padding: 10px 15.13px 16px;
}

.contact-info li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
    
.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 1.2rem 0;
}
    
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus, 
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
     width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 1.5rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}


.contact-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contact-sci{
    animation: bounce 2s infinite;
}

.contact-sci a:hover{
    color: var(--margin-navbar-color);
}

.contact-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--btn-color);
    z-index: -1;
    transition: .5s;
}

.contact-sci a:hover::before {
    width: 100%;
}

/* footer section styling */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}
    
.footer-text p {
    font-size: 1.6rem;
}
    
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background:var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(108, 140, 244);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--btn-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    z-index: 98;
}

/* .animate .home-img{
    width: 50%;
} */

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

.about.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}


/* Breakpoints */

@media (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}
    
@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 0 0 3rem;
    }
    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    /* Style the header */
   .header {
      padding: 2rem 4%;
      background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--margin-navbar-color);
        box-shadow: 0.5rem 1rem rgba(0,0,0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background:var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        /* transform: translateX(-20rem);  */
        transition: .25s ease; 
        transition-delay: 0s;
    }

    .navbar .active a {
        transform: translateX(8);
        transition-delay: .25s;
    }

    .home-imghover {
        pointer-events: none;
        background: var(--bg-color);
        opacity:.6;
    }
  
   .project-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
   .about-container {
      display: block;
    }
  
   .education-column {
      flex: 1 1 100%;
    }
  
   .skills-column {
      flex: 1 1 100%;
    }
}
  
@media (max-width: 520px) {
    /* .home{
        justify-content: center;
    } */
    html {
        font-size: 50%;
    }
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci {
        width: 160px;
    }
        
    .home-sci a {
        width: 38px;
        height: 38px;
    }
    
    .skills-row .skills-column {
        flex: 1 1 auto;
    }

   .project-grid {
      grid-template-columns: 1fr;
    }
  
    .about__container {
        display: block;
    }
  
   .education-column {
      flex: 1 1 100%;
    }
  
   .skills-column {
      flex: 1 1 100%;
    }
}

@media (max-width: 462px) {
    .home{
        justify-content: center;
    }
    .home-content h1 {
        font-size: 5.2rem;
    }
    .about__container {
        display: block;
    }
    .education {
        padding: 10rem 4% 5rem 5%;
    }
    .projects{
        width: 100%;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }
}


/* Keyframe animation for home text */

@keyframes homeBgText {
    0%,
    10%,
    100% {
    background-position: -33rem 0;
    }
    65%,
    85% {
    background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }
    75%,
    81% {
        opacity: 0;
    }
}


/* Keyframe circle spinner in about section*/

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes aboutSpinner2 {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* @keyframes textAnimation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
} */
